<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VendingMachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<log4net>
		<appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log\" />
			<param name="DatePattern" value="dd-MM-yyyy'.log'" />
			<staticLogFileName value="false" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{hh:mm:sstt} %level %type{1}.%method %line - %message%n" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="TestAppender" />
		</root>
	</log4net>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<VendingMachine.Properties.Settings>
			<setting name="machine_id" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="helpline" serializeAs="String">
				<value>8220507791</value>
			</setting>
			<setting name="max_quantity" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="vend_sensor" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="IsAdminId" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="BillValidatorApp" serializeAs="String">
				<value>C:\Program Files\BetaAutomation\BillValidator\BillValidator.exe</value>
			</setting>
			<setting name="upi_url" serializeAs="String">
				<value>http://127.0.0.1:8888/</value>
			</setting>
			<setting name="upi_mobileno" serializeAs="String">
				<value>8870703719</value>
			</setting>
			<setting name="upi_email" serializeAs="String">
				<value>premaclasersystems@gmail.com</value>
			</setting>
			<setting name="IsNoteDispenser" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="IsCoinDispenser" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="smsurl" serializeAs="String">
				<value>http://api.msg91.com/api/sendhttp.php?sender=BVCVM&amp;route=4&amp;authkey=225117AE3vsplg1uG60e98873P1&amp;country=91</value>
			</setting>
			<setting name="IsCoupon" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="paytm_version" serializeAs="String">
				<value>v1</value>
			</setting>
			<setting name="paytm_clientId" serializeAs="String">
				<value>Sathish</value>
			</setting>
			<setting name="paytm_mid" serializeAs="String">
				<value>CHATTE19664246519794</value>
			</setting>
			<setting name="paytm_m_key" serializeAs="String">
				<value>K7sebdIQdHK5%Ckk</value>
			</setting>
			<setting name="face_ip" serializeAs="String">
				<value>192.168.1.12</value>
			</setting>
			<setting name="face_port" serializeAs="String">
				<value>9922</value>
			</setting>
			<setting name="plc_check_before_order" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ServerURL" serializeAs="String">
				<value>http://localhost:5272/</value>
			</setting>
		</VendingMachine.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>